COMPOSE_PROJECT_NAME={{ compose_project_name }}
PROXY_PORT={{ proxy_public_port }}
MONGO_PORT={{ mongo_container_port }}
MONGO_DATABASE={{ mongo_database }}
MONGO_ROOT_USERNAME={{ mongo_root_username }}
MONGO_ROOT_PASSWORD={{ mongo_root_password }}
BACKEND_PORT={{ backend_container_port }}
BACKEND_CLIENT_ORIGIN={{ backend_client_origin }}
BACKEND_JWT_SECRET={{ backend_jwt_secret }}
FRONTEND_API_URL={{ frontend_api_url }}
