COMPOSE_PROJECT_NAME=fullstack-blog-coursework-2
PROXY_PORT=8080
MONGO_PORT=27017
MONGO_DATABASE=fullstack-blog-coursework-2
MONGO_ROOT_USERNAME=blog
MONGO_ROOT_PASSWORD=blog
BACKEND_PORT=3001
BACKEND_CLIENT_ORIGIN=http://localhost:8080
BACKEND_JWT_SECRET=change-me
FRONTEND_API_URL=/api
